@model ZeroCode.WebUI.Models.DemoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 NotFound</title>
    <link href="~/Content/Frame/Css/frame.css" rel="stylesheet" />
</head>
<body>
    <div class="frame-not-found"></div>
</body>
</html>
