<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.easyui-1.4.1.js"></script>
    <script src="~/Scripts/jquery.easyui.plus.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <link href="~/Content/EasyUI/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/icon.css" rel="stylesheet" />
    <link href="~/Content/Default/CSS/frame.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
