<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <!--  生命周期说明
              transient：瞬态生命周期（通常情况下Repository、Service使用这个生命周期）
              perthread：每线程生命周期，就是保证每个线程返回同一实例
              perresolve：这个生命周期是为了解决循环引用而重复引用的生命周期
              hierarchical：分层生命周期
              singleton：容器控制生命周期，也就是单件实例，UnityContainer会维护一个对象实例的强引用，每次调用的时候都会返回同一对象
              external：外部控制生命周期
   -->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
          <namespace name="System" />
          <assembly name="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <container name="defaultContainer">
            <register type="ZeroCode.Repository.Data.IUnitOfWork,ZeroCode.Repository.Data" mapTo="ZeroCode.Repository.Data.DbContextDemo,ZeroCode.Repository.Data" >
              <lifetime type="perthread"></lifetime>
            </register>

            <register type="ZeroCode.Repository.Data.IBaseRepository`2[[ZeroCode.Repository.Data.SysSample, ZeroCode.Repository.Data],[System.String]], ZeroCode.Repository.Data" mapTo="ZeroCode.Repository.Data.BaseRepository`2[[ZeroCode.Repository.Data.SysSample, ZeroCode.Repository.Data],[System.String]], ZeroCode.Repository.Data"/>
            <register type="ZeroCode.Repository.Data.IBaseRepository`2[[ZeroCode.Repository.Data.SysModule, ZeroCode.Repository.Data],[System.String]], ZeroCode.Repository.Data" mapTo="ZeroCode.Repository.Data.BaseRepository`2[[ZeroCode.Repository.Data.SysModule, ZeroCode.Repository.Data],[System.String]], ZeroCode.Repository.Data"/>

            <register type="ZeroCode.Service.Sys.ISysSampleService,ZeroCode.Service.Sys" mapTo="ZeroCode.Service.Sys.SysSampleService,ZeroCode.Service.Sys"/>
            <register type="ZeroCode.Repository.Account.IUserRepository,ZeroCode.Repository.Account" mapTo="ZeroCode.Repository.Account.UserRepository,ZeroCode.Repository.Account"/>
            <register type="ZeroCode.Service.Account.IUserService,ZeroCode.Service.Account" mapTo="ZeroCode.Service.Account.UserService,ZeroCode.Service.Account"/>
          </container>
  </unity>
</configuration>
