
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aries的Index</title>
    <style type="text/css">
        body {
            background-color: #F2F2F2;
        }

        .nav_wrap, .api_wrap {
            width: 300px;
            padding: 30px;
            margin: 100px auto;
            background-color: #fff;
            border-radius: 10px;
            border: solid 1px #ece3e3;
        }

        a {
            font: 0.875em/1.5em "微软雅黑", "PTSans", "Arial",sans-serif;
            text-decoration: none;
            color: #006b99;
            font-size: 18px;
        }
    </style>
    <script>
        window.onload = function () {
            var minusNum = -1;
            var zero = 0;
            var one = 1;
            var stringEmpty = '';
            var stringNotEmpty = '111';
            var objFunc = function () { };

            console.group("JS中特殊值与bool的转换");
            undefined ? console.info("undefined is true") : console.info("undefined is false");
            null ? console.info("null is true") : console.info("null is false");
            minusNum ? console.info("负数 is true") : console.info("负数 is false");
            zero ? console.info("zero（数字0） is true") : console.info("zero（数字0） is false");
            stringNotEmpty ? console.info("stringNotEmpty is true") : console.info("stringNotEmpty is false");
            stringEmpty ? console.info("stringEmpty is true") : console.info("stringEmpty is false");
            objFunc ? console.info("objFunc is true") : console.info("objFunc is false");
            NaN ? console.info("NaN is true") : console.info("NaN is false");
            console.groupEnd();

            //var stringOne = '1';
            //var intOne = 1;

            //console.group("==与===的比较");
            //console.info("stringOne==intOne is " + (stringOne == intOne))
            //console.info("stringOne===intOne is " + (stringOne === intOne))
            //console.groupEnd("==与===的比较");

            
            //if (typeof (reValue) == 'undefined')
            //{
            //    console.info("undefined")
            //}

            //function car(){

            //}

            //var small=new car();

            //alert(small instanceof car);

            //document.write("typeof(1): " + typeof (1) + "<br>");
            //document.write("typeof(NaN): " + typeof (NaN) + "<br>");
            //document.write("typeof(Number.MIN_VALUE): " + typeof (Number.MIN_VALUE) + "<br>")
            //document.write("typeof(Infinity): " + typeof (Infinity) + "<br>")
            //document.write("typeof(\"123\"): " + typeof ("123") + "<br>")
            //document.write("typeof(true): " + typeof (true) + "<br>")
            //document.write("typeof(window): " + typeof (window) + "<br>")
            //document.write("typeof(document): " + typeof (document) + "<br>")
            //document.write("typeof(null): " + typeof (null) + "<br>")
            //document.write("typeof(eval): " + typeof (eval) + "<br>")
            //document.write("typeof(Date): " + typeof (Date) + "<br>")
            //document.write("typeof(sss): " + typeof (sss) + "<br>")
            //document.write("typeof(undefined): " + typeof (undefined) + "<br>")
                //typeof 返回字符串，有六种可能："number"、"string"、"boolean"、"object"、"function"、"undefined" symbol
        }

    </script>
</head>
<body>

    <div class="nav_wrap">
        <p><a href="Index.aspx">主内容区</a></p>
        <p><a href="@Url.Action("Index","UploadDemo")">upload demo</a></p>
    </div>
</body>
</html>
