
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body
        {
            background-color:#F2F2F2;
            margin:0px;
            padding-top:80px;
        }
        #messager
        {
            position:fixed;
            top:50%;
            left:50%;
            width:200px;
            min-height:60px;
            margin-top:-30px;
            margin-left:-100px;
            border-radius:10px;
            text-align:center;
            color:#FFF;
            background-color: rgba(0,0,0,.75);
            cursor:pointer;
        }
        #messager span
        {
            line-height:60px;
            font-size:14px;
        }
        .item
        {
            width:400px;
            min-height:100px;
            padding:0 20px 40px 20px;
            margin:50px auto;
            background-color:#fff;
            border:1px solid #cccccc;
            box-shadow:#808080 2px 2px 2px;
            border-radius:5px;
        }
        .item ul
        {
            margin-bottom:40px;
        }
        .item li
        {
            font-size:12px;
            margin:3px 0;
        }
        .progressWrap
        {
            position:fixed;
            top:0;
            width:100%;
            height:85px;
            margin:0px;
            padding:0px;
            background-color: rgba(0,0,0,.5);
            border:1px solid #808080;
            text-align:center;
            box-shadow:#999999 0px 1px 1px;

        }
        .progressContainer
        {
            width:600px;
            margin:10px auto;
            
        }
        .progressContainer span
        {
            font-size:14px;
            color:#FFF;
            line-height:30px;
        }
        .progressBg
        {
             margin-top:5px;
             width:100%;
             height:30px;
             border:1px solid #999999;
             border-radius:5px;
             box-shadow:#808080 1px 1px 1px;
             background-color:#CCCCCC;
        }
        .progressBar
        {
            width:50%;
            height:28px;
            border:1px solid #fff;
            border-radius:5px;
            background-color:#33CCCC;
            text-align:center;
        }
        .progressBar span
        {
            line-height:30px;
        }
        #btn_resetProgress
        {
             float:right;
             width:100px;
             height:30px;
             background-color:#33CCCC;
             color:#FFF;
             border-radius:5px;
             border:1px solid #fff;
        }
        
    </style>
    <script>
        var lastTime;
        var loadSize ;

        window.onload = function () {
            
            
            
            var messager = document.getElementById('messager');
            messager.onclick = closeMessager;

            var btnReset = document.getElementById('btn_resetProgress');
            btnReset.onclick = function () { setProgressBar(0,"KB/s","0%"); }
            
            var btnUpload = document.getElementById('btnUpload');
            btnUpload.onclick = function () {
                var fileInput = document.getElementById('File2');
                if (!fileInput.value) { return; }

                var xhr = new XMLHttpRequest();
                var formData = new FormData();
                formData.append("UserPhoto", fileInput.files[0]);
                xhr.open("post", './UploadFile_2');

                //超时时间，单位是毫秒
                xhr.timeout = 60 * 1000;

                //请求结束
                xhr.onload = function (event) {
                    if (xhr.status == 200) {
                        showMessage("上传成功");
                    } else {
                        showMessage("上传失败");
                    }
                };

                //请求异常(不包括404)
                xhr.onerror = function () {
                    showMessage("请求发生异常");
                };

                //上传开始
                xhr.upload.onloadstart = function () {
                    setProgressBar('progressBar', '0%');
                    lastTime = new Date().getDate();
                    loadSize = 0;
                }

                //间歇调用该方法用来获取上传过程中的信息
                xhr.upload.onprogress = function (event) {
                    if (!event.lengthComputable) { //ProgressEvent.lengthComputable：boolean类型，表示能否计算出文件长度；如果为false，那么ProgressEvent.total则为0.
                        return;
                    }

                    //计算上传速度
                    var now = new Data().getDate();
                    var timeInterval = (now - lastTime) / 1000;
                    lastTime = now;

                    var sizeInterval = event.loaded - loadSize;
                    loadSize = event.loaded;

                    var speed = sizeInterval / sizeInterval; // 单位b/s
                    var bspeed = speed;
                    var units = "b/s";

                    if (speed / 1024 > 1) {
                        speed = speed / 1024;
                        units = 'kb/s';
                    }
                    if (speed / 1024 > 1) {
                        speed = speed / 1024;
                        units = 'mb/s';
                    }

                    speed = speed.toFixed(1);

                    //计算剩余时间
                    var resttime = ((event.total - event.loaded) / bspeed).toFixed(1); //单位 秒
                    
                    //计算进度百分比
                    var precent = (100 * event.loaded / event.total);
                    pre = Math.floor(precent);

                    if (bspeed != 0) {
                        setProgressBar(0, "b/s", -1, 'noChange');
                    } else {
                        setProgressBar(speed, units, resttime, precent + '%');
                    }
                };

                //上传终止
                xhr.upload.onabort = function () {
                    console.info('xhr.upload.onabort');
                }

                //上传失败
                xhr.upload.onerror = function () {
                    console.error('xhr.upload.onload');
                }

                //上传成功？ 这个时间还有待验证
                xhr.upload.onload = function () {
                    console.info('xhr.upload.onload');
                }

                //上传超时
                xhr.upload.ontimeout = function () {
                    console.error('xhr.upload.ontimeout');
                }

                xhr.send(formData);
            }
        }

        function setProgressBar(speed,units,restTime,precent) {
            var txtSpead = document.getElementById('speed');
            var txtUnits = document.getElementById('units');
            var progressBar = document.getElementById('progressBar');
            var progressPre = progressBar.firstElementChild;

            txtSpead.innerText = speed;
            txtUnits.innerText = units;

            if (noChange == 'noChange') {
                return;
            }

            progressBar.style.width = precent;

            if (precent == "0%") {
                precent = "";
            } 
            progressPre.innerText = precent;
        }

        function showMessage(txt, time) {
            var time = time || 2000;
            var msger = document.getElementById('messager');
            var msgerTxt = document.getElementById('messagerTxt');

            msgerTxt.innerText = txt;
            msger.style.display = "block";
            setTimeout('closeMessager()', time);
        }

        function closeMessager() {
            var msger = document.getElementById('messager');
            msger.style.display = "none";
        }

    </script>
</head>
<body>
    <div id="messager">
        <span id="messagerTxt">上传成功</span>
    </div>
    <div class="progressWrap">
        <div class="progressContainer">
            <div>
                <span>上传速度:</span>
                <span id="speed"></span>
                <span id="units"></span>
                <input id="btn_resetProgress" type="button"  value="重置" />
            </div>
            <div class="progressBg">
                <div id="progressBar" class="progressBar">
                    <span>0%</span>
                </div>
            </div>
            
        </div>
    </div>

    <form enctype="multipart/form-data" action="UploadFile_1" method="post">
        <div class="item">
            <h3>
                原生简单上传
            </h3>
            <ul>
                <li>无脚本、无进度条</li>
                <li>页面会产生刷新</li>
            </ul>
            <input id="File1" name="UserPhoto" type="file" value="" />
            <input type="submit" value="提交上传" />
        </div>
    </form>

    <div class="item">
        <h3>
            JavaScript异步上传 
        </h3>
        <ul>
            <li>带进度条、上传速度计算</li>
            <li>使用HTML5 API，不支持IE8，IE9</li>
        </ul>
        <input id="File2" name="UserPhoto" type="file" value="" />
        <input id="btnUpload" type="button" value="提交上传" />
        
    </div>

    <div class="item">
        <h3>
            JQuery异步上传
        </h3>
        <ul>
            <li>上个例子的JQuery版</li>
            <li>使用HTML5 API，不支持IE8，IE9</li>
        </ul>
        <input id="File3" name="UserPhoto" type="file" value="" />
        <input id="btnUpload3" type="button" value="提交上传" />
    </div>

    
</body>
</html>
