
@{
    ViewBag.Title = "TastApi";
    Layout = null;
}
<html >
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ajaxQueue.js"></script>
    <script>

        $(function () {
            var jsonStr = '{"title":"sss","count":"2"}';
            var obj = JSON.parse(jsonStr);
            console.log(obj);
        })
    </script>
</head>
<body>

</body>
</html>
<h2>TastApi</h2>

